{% extends "prime/base.html" %}

{% block title %}My Activities{% endblock %}

{% block content %}
<h2>My Activities</h2>

{% for day, activities in activities_by_day %}
    <h3>{{ day }} - {{ activities|length }} activities</h3>
    {% if activities %}
        <ul>
            {% for activity, logs in activities %}
                <li>
                    {{ activity.name }} {{ activity.start_time|time:"h:i a" }} - {{ activity.end_time|time:"h:i a" }}
                    {% for log in logs %}
                        {% if log %}
                            <span class="status-box">
                                {% if not log.marked %}
                                    ⬜ <!-- Empty box -->
                                {% elif log.completed %}
                                    <span class="status-mark">✔️</span>
                                {% else %}
                                    <span class="status-mark">❌</span>
                                {% endif %}
                            </span>
                            <!-- Links to mark as completed or not -->
                            <a href="{% url 'prime:mark_activity' log.id %}?completed=true" class="completed">✔️</a>
                            <a href="{% url 'prime:mark_activity' log.id %}?completed=false" class="not-completed">❌</a>

                            <!-- Form to delete this specific log -->
                            <form action="{% url 'prime:delete_activity_log' log.id %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Eliminar actividad</button>
                            </form>
                        {% endif %}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No activities scheduled for this day.</p>
    {% endif %}
{% endfor %}


{% endblock %}
