/* styles.css */
body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
}

.sidebar {
    border: black;
    width: 200px;
    height: 400px;
    background-color: #f4f4f4;
    padding: 10px;

}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 10px 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #333;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.completed {
    color: green;
    font-size: 16px;
    margin-right: 10px;
}

.not-completed {
    color: red;
    font-size: 16px;
    margin-right: 10px;
}

.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;
}

.delete-button:hover {
    background-color: #d32f2f;
}

.inline-form {
    display: inline;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.btn-danger:hover {
    background-color: #c82333;
}

.status-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    /* Borde del cuadro */
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    /* Asegurar que el cuadro esté alineado verticalmente */
}

.status-box .status-mark {
    font-size: 16px;
    line-height: 20px;
    /* Aju para centrar el contenido verticalmente */
}

.calendar {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 20px;
}

.calendar th,
.calendar td {
    border: 1px solid #ddd;
    padding: 10px;
    vertical-align: top;
}

.calendar .date {
    font-weight: bold;
    margin-bottom: 5px;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.inline-form {
    display: inline;
}